#clearButton {
    margin-left: 10px;
}

#quizDescription {
    resize: none;
    height: 100px;
}

#question {
    resize: none;
    height: 150px;
}

.question-added {
    width: 150px;
    text-align: left;
    border-radius: 3px;
}


#text {
    color: black;

}
